body{ 
	background-color: #f6ffeb;
	font-family: Texturina;
}

@font-face{
	font-family: Aileron-UltraLight;
	src: url(aileron_0102/Aileron-UltraLight.otf);
	font-weight: normal;
}

a:link, a:visited{
	color: #000000;
	text-decoration: none;
	}
a:hover, a:active{
	color: #91d9f4;
	text-decoration: none;
	}

.contact{
	text-align: center;
	font-size: 18px; 
}

.home_nav_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 100;
}

.home_nav_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 101;
	opacity: 0;
}

.home_nav_hover:hover, .home_nav_hover:active{
	opacity: 1;
}

.page_title{
	position: fixed;
	display: block;
	top: 0;
  	left: 50%;
  	transform: translate(-50%, 0);
  	margin: 0;
  	padding: 2rem;
	font-family: Aileron-UltraLight;
	font-size: 100px;
	letter-spacing: -8px;
}

.instagram_link{
	height: 3rem;
	width: 3rem;
	position: absolute;
	z-index: 1;
	display: inline-block;
	right: 9rem;
	bottom: 4rem;
}

.instagram_link_hover{
	height: 3rem;
	width: 3rem;
	position: absolute;
	opacity: 0;
	z-index: 2;
	display: inline-block;
	right: 9rem;
	bottom: 4rem;
}

.instagram_link_hover:hover, .instagram_link_hover:active{
	opacity: 1;
}


.text{
	position: absolute;
	display: block;
	margin: 3rem;
	z-index: 3;
	top: 0;
}

.textbox_container{
	left: 50%;
	transform: translate(-50%, 0);
	top: 12rem;
	height: 100%;
	width:65rem;
	display: block;
	position: relative;
}

.cv_link{
	font-family: Aileron-UltraLight;
	font-size: 40px;
	letter-spacing: -2px;
	position: fixed;
	bottom: 4rem;
	right: 3rem;
}

.allofus_link{
	font-family: Aileron-UltraLight;
	font-size: 40px;
	letter-spacing: -2px;
	position: fixed;
	bottom: 4rem;
	right: 15rem;
}
