body{ 
	background-color: #f6ffeb;
}

.home_nav_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 100;
}

.home_nav_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 101;
	opacity: 0;
}

.home_nav_hover:hover, .home_nav_hover:active{
	opacity: 1;
}

.text{
	width: 80%;
	height: 80%
	margin: 12rem;
	position: relative;
	display: block;
	top: 12rem;
	left: 50%;
	transform: translate(-50%, 0);
}

.page_title{
	height: 5rem;
	width: 15rem;
	position: fixed;
	display: block;
	top: 0;
  	left: 50%;
  	transform: translate(-50%, 0);
  	margin: 0;
  	padding: .25rem;
	z-index: 100;
	opacity: 1;
}