body{ 
	background-color: #f6ffeb;
	font-family: Texturina;
}

.home_nav_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 100;
}

.home_nav_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 101;
	opacity: 0;
}

.home_nav_hover:hover, .home_nav_hover:active{
	opacity: 1;
}

.page_title{
	height: 15rem;
	width: 50rem;
	position: fixed;
	display: block;
	top: -2rem;
  	right: -3rem;
  	margin: 0;
  	padding: 0;
	z-index: 1;
	opacity: 1;
}

.allofus_link{
	height: 3rem;
	width: 11rem;
	right: 9rem;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

.allofus_link_hover{
	height: 3rem;
	width: 11rem;
	right: 9rem;
	position: absolute;
	opacity: 0;
	z-index: 2;
	display: inline-block;
}

.allofus_link_hover:hover, .allofus_link_hover:active{
	opacity: 1;
}

.instagram_link{
	height: 3rem;
	width: 3rem;
	position: absolute;
	z-index: 1;
	display: inline-block;
	right: 5rem;
}

.instagram_link_hover{
	height: 3rem;
	width: 3rem;
	position: absolute;
	opacity: 0;
	z-index: 2;
	display: inline-block;
	right: 5rem;
}

.instagram_link_hover:hover, .instagram_link_hover:active{
	opacity: 1;
}


.text{
	position: absolute;
	display: block;
	margin: 3rem;
	z-index: 3;
	top: 0;
}

.textbox_container{
	left: 40%;
	transform: translate(-40%, 0);
	top: 12rem;
	height: 30rem;
	width:65rem;
	display: block;
	position: relative;
	background-color: #d4e8c2;
	border: 3px solid;
}

.cv_link{
	height: 3rem;
	width: 4rem;
	right: 0;
	position: absolute;
	z-index: 1;
	display: block;
}

.cv_hover{
	height: 3rem;
	width: 4rem;
	right: 0;
	position: absolute;
	opacity: 0;
	z-index: 2;
	display: block;
}

.cv_hover:hover, .cv_hover:active{
	opacity: 1;
}

.external_links{
	width: 30rem;
	height: 3rem;
	bottom: 1rem;
	display: block;
	position: absolute;
	margin: .5rem;
	margin-bottom: 0;
	right: 0;
}