body{
	background-color: #f6ffeb;
	font-family: Texturina;
}

@font-face{
	font-family: Aileron-UltraLight;
	src: url(aileron_0102/Aileron-UltraLight.otf);
	font-weight: normal;
}

a:link, a:visited{
	color: #000000;
	text-decoration: none;
	}
a:hover, a:active{
	color: #91d9f4;
	text-decoration: none;
	}
	
.name_title{
	text-align: right;
	font-family: Aileron-UltraLight;
	letter-spacing: -2px;
	font-size: 38px;
	position: fixed;
	display: inline-block;
	top: 1rem;
  	right: 0;
  	margin: 1rem;
  	margin-right: 2rem;
  	margin-top: 0;
  	padding: 1rem;
	z-index: 100;
}

.title{
	position: static;
	display: block;
	font-family: Aileron-UltraLight;
	letter-spacing: 1px;
	font-size: 30px;
	padding: 2rem;
	padding-bottom: 1rem;
	top: 1.5rem;
	text-align: center;
	z-index: 1;
}

h1{
	font-size: 20px;
	font-weight: normal;
	line-height: 1rem;
}

.home_nav_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 100;
}

.home_nav_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 0;
  	left: 0;
  	margin: 5rem;
  	margin-top: 3rem;
	z-index: 101;
	opacity: 0;
}

.home_nav_hover:hover, .home_nav_hover:active{
	opacity: 1;
}

.left_arrow_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 50%;
	transform: translate(0, -50%);
  	left: 0;
  	margin: 2rem;
	z-index: 100;
}

.left_arrow_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 50%;
	transform: translate(0, -50%);
  	left: 0;
  	margin: 2rem;
	z-index: 101;
	opacity: 0;
}

.left_arrow_hover:hover, .left_arrow_hover:active{
	opacity: 1;
}

.right_arrow_container{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 50%;
	transform: translate(0, -50%);
  	right: 0;
  	margin: 2rem;
	z-index: 100;
}

.right_arrow_hover{
	height: 3rem;
	width: 3rem;
	position: fixed;
	display: inline-block;
	top: 50%;
	transform: translate(0, -50%);
  	right: 0;
  	margin: 2rem;
	z-index: 101;
	opacity: 0;
}

.right_arrow_hover:hover, .right_arrow_hover:active{
	opacity: 1;
}

.title_label{
	position: absolute;
	display: inline-block;
	text-align: center;
	padding: 0;
	bottom: 1.5rem;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 0;
	padding-top: 0;
}

.image_container{
	position: relative;
	display: inline-block;
	width: 40rem;
	height: 32rem;
	padding: 1rem;
	margin: .25rem;
	z-index: 1;
	text-align: center;
}

.absolute_image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 40rem;
	height: 28rem;
	object-fit: cover;
	box-sizing: border-box;
}

.absolute_text{
	position: absolute;
	bottom: 1.5rem;
	width: 40rem;
	box-sizing: border-box;
	font-size: 15px;
	left: 1rem;
	line-height: 1rem;
}
